@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Inter, sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: #dfd9d3;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.flex-end {
  @apply flex justify-end;
}

.text-item-unchecked {
  @apply text-primary-700 text-base font-normal leading-normal text-wrap flex flex-wrap;
}

.text-item-checked {
  @apply text-primary-600 text-base font-normal leading-normal line-through text-wrap;
}

.heading-primary {
  @apply text-primary-700 text-2xl font-bold leading-normal font-inter;
}

.heading-secondary {
  @apply text-primary-600 text-xs font-bold leading-normal font-inter py-3.75;
}

.heading-tertiary {
  @apply text-primary-600 text-lg font-semibold leading-normal font-inter;
}

.due-date-text {
  @apply text-red-500 text-xs font-normal leading-5 font-inter;
}

.add-task-input {
  @apply w-full bg-primary-100 border-2 border-primary-200 rounded-2.5 flex-start gap-2.5 self-stretch py-5 px-3.75 ring-offset-2 ring-offset-custom-blue placeholder:text-primary-600 max-sm:placeholder:text-sm text-base font-normal leading-5 font-inter focus:text-primary-700 cursor-pointer focus:cursor-text;
}

.due-date-input {
  @apply w-fit bg-primary-100 border border-primary-200 rounded-2.5 flex-start self-stretch py-1.5 px-1.5 ring-offset-2 ring-offset-custom-blue placeholder:text-primary-600 max-sm:placeholder:text-sm text-base font-normal leading-5 font-inter focus:text-primary-700 cursor-pointer focus:cursor-text;
}

@layer components {
  .button-shine::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      #dfd9d3,
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  .button-shine:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }
    60% {
      left: 100%;
    }
    to {
      left: 100%;
    }
  }
}

.loader {
  --uib-size: 40px;
  --uib-color: black;
  --uib-speed: 1s;
  --uib-stroke: 3px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(from 0deg, var(--uib-color) 0%, transparent 70%);
  mask-image: radial-gradient(circle, transparent 50%, black 51%);
  animation: spin var(--uib-speed) linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
