@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Inter, sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: #dfd9d3;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.flex-end {
  @apply flex justify-end;
}

.checkbox-unchecked {
  @apply w-7.5 h-7.5 shrink-0 border-2 border-primary-600 rounded-2.5;
}

.checkbox-checked {
  @apply w-7.5 h-7.5 shrink-0 bg-primary-600 border-2 border-primary-600 rounded-2.5;
}

.text-item-unchecked {
  @apply text-primary-700 text-base font-normal leading-normal;
}

.text-item-checked {
  @apply text-primary-600 text-base font-normal leading-normal line-through;
}

.heading-1 {
  @apply text-primary-700 text-2xl font-bold leading-normal font-inter;
}

.heading-2 {
  @apply text-primary-600 text-xs font-bold leading-normal font-inter;
}

.add-task-input {
  @apply bg-primary-100 border-2 border-primary-200 rounded-2.5 flex-start gap-2.5 self-stretch py-5 px-3.75 ring-offset-2 ring-offset-custom-blue text-primary-600 text-base font-normal leading-5 font-inter focus:text-primary-700 cursor-pointer;
}

@layer components {
  .button-shine::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      #dfd9d3,
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  .button-shine:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }
    60% {
      left: 100%;
    }
    to {
      left: 100%;
    }
  }
}
.loader {
  height: 15px;
  aspect-ratio: 5;
  --_g: no-repeat radial-gradient(farthest-side, #23243d 94%, #23243d);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 100%;
  animation:
    l40-1 0.75s infinite alternate,
    l40-2 1.5s infinite alternate;
}
@keyframes l40-1 {
  0%,
  10% {
    background-position:
      0 0,
      0 0,
      0 0,
      0 0;
  }
  33% {
    background-position:
      0 0,
      calc(100% / 3) 0,
      calc(100% / 3) 0,
      calc(100% / 3) 0;
  }
  66% {
    background-position:
      0 0,
      calc(100% / 3) 0,
      calc(2 * 100% / 3) 0,
      calc(2 * 100% / 3) 0;
  }
  90%,
  100% {
    background-position:
      0 0,
      calc(100% / 3) 0,
      calc(2 * 100% / 3) 0,
      100% 0;
  }
}
@keyframes l40-2 {
  0%,
  49.99% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}
